@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <div class="h3 my-4" style="font-weight: 300">Exercicio 4 do Teste Auvo</div>
    <a class="btn btn-primary" asp-area="" asp-page="/Clientes/Index">Clientes</a>
</div>
